<% layout('./layouts/boilerplate') %>
<div class="container mb-5 mt-5" id="containerCard">
  <div class="row">
    <% for(let arr of data){ %>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="product-1 aling-items-center p-2 text-center">
          <% if(arr.url_image){%>
          <img
            src="<%= arr.url_image%>"
            alt=""
            class="rounded"
            height="160"
            width="160"
          />
          <%}else{ %>
          <img
            src="https://www.yeaah.co/wp-content/uploads/2021/08/producto-sin-imagen.jpg"
            alt=""
            class="rounded"
            height="160"
            width="160"
          />
          <% } %>
          <h5><%= arr.name%></h5>

          <div class="cost mt-3 text-dark">
            <% if(arr.discount>0) {%> <% let price =
            Math.round(arr.price-(arr.price * arr.discount /100)) %> <% price=
            price.toString() %>
            <span> $<%= price[0]+"."+price.slice(1)%> </span>
            <span>
              $<del><%= arr.price%></del>

              <span>-<%=arr.discount%>%</span>
            </span>
            <% }else{ %> <% let price = arr.price %> <% price= price.toString()
            %>
            <span> $<%= price[0]+"."+price.slice(1)%> </span>
            <% } %>
          </div>
        </div>

        <div class="p-3 product text-center text-white mt-3 cursor">
          <span class="text-uppercase">Add to cart</span>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
